.error-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5; 
  text-align: center;
}

.error-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-content h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.error-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.error-logo img {
  width: 80px; 
  height: auto;
  margin-top: 1rem;
}
