.categorie-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #DFDFDF;
    border-radius: 16%;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.text {
    font-weight: 700;
    font-size: 16px ;
    color: black;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

p {
    font-size: 16px;
}