footer {
    background-color: hsl(46, 77%, 81%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    width: 100%;
    height: 100px;
}

.link {
    color: black;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}